:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --primary-white-color: #ffffff;
  --active-accent-color: #404bbf;
  --background-button-color: #f4f4fd;
  --footer-text-color: #e7e9fc;
  --border-icon-color: #8e8f99;
  --footer-icon-color: rgba(255, 255, 255, 0.1);
  --footer-icon-active-color: #31d0aa;
  --black-color: #000;
  --form-border-color: rgba(255, 255, 255, 0.3);
  --modal-buttonclose-border: rgba(0, 0, 0, 0.1);
  --modal-background: rgba(46, 47, 66, 0.4);
  --modal-window-background: #fcfcfc;
  --modal-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  --button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --filter-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --portfolio-card-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  --placeholder-color-text: rgba(117, 117, 117, 0.5);
  --input-border-color: rgba(33, 33, 33, 0.2);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Body */
body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
/* .section {
} */
/* CONTAINER */
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
}
.margin {
  margin-top: 72px;
}
/* Img */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.decor {
  text-decoration: none;
}
.nav-title,
.contacts,
.work-list,
.demo-list,
.team-list,
.filter,
.examples {
  list-style-type: none;
}
/* Header */
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--footer-text-color);
}
/* flexbox */
.header-block {
  display: flex;
  justify-content: space-between;
}
.nav {
  display: flex;
}

/* Navigation */
/* Logo */
.logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);

  margin-right: 76px;
}

/* Nav-Title */
.nav-title {
  display: flex;
}
.nav-li:not(:last-child) {
  margin-right: 40px;
}

.nav-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-text-color);

  padding-top: 24px;
  padding-bottom: 28px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--active-accent-color);
}
.studio {
  color: var(--active-accent-color);
}
.nav-link {
  position: relative;
}
.studio::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--active-accent-color);
  position: absolute;
  bottom: 0;
  left: 0;
}

.portfolio {
  color: var(--active-accent-color);
}
.portfolio::after {
  content: "";
  width: 100%;
  height: 4px;

  border-radius: 2px;
  background-color: var(--active-accent-color);
  position: absolute;
  bottom: 0;
  left: 0;
}
/* Contacts */
.contacts {
  display: flex;
}
.contacts-li + .contacts-li {
  margin-left: 40px;
}
.mail {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-text-color);

  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.tel {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-text-color);

  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mail:hover,
.mail:focus {
  color: var(--active-accent-color);
}
.tel:hover,
.tel:focus {
  color: var(--active-accent-color);
}

/* Main content */

/* .main-title {
} */

/* Section */
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
/* Hero */
.hero {
  height: 600px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background.jpg);

  padding-top: 188px;
  padding-bottom: 188px;
  background-color: var(--title-text-color);
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-white-color);
  margin-bottom: 48px;
}

.hero-button {
  border: none;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border-radius: 4px;
  box-shadow: var(--button-shadow);

  padding: 16px 32px;
  margin: auto;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background: var(--active-accent-color);
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--modal-background);
  visibility: visible;

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 408px;
  padding: 72px 24px 24px 24px;
  background-color: var(--modal-window-background);
  box-shadow: var(--modal-box-shadow);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  margin-bottom: 14px;
}

.button-modal-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 24px;
  right: 24px;
  height: 24px;
  width: 24px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid var(--border-icon-color);
  background-color: var(--footer-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close {
  fill: var(--black-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal-close:focus,
.button-modal-close:hover,
.button-modal-close:active {
  background-color: var(--active-accent-color);
  border-color: var(--active-accent-color);
}
.button-modal-close:focus > .button-close,
.button-modal-close:hover > .button-close,
.button-modal-close:active > .button-close {
  fill: var(--primary-white-color);
}

label {
  display: block;
}
.form-text {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--border-icon-color);
  margin-bottom: 4px;
}
.position-icon {
  position: relative;
}
.user-name {
  line-height: 1.33;
  letter-spacing: 0.04em;
}
.modal-label + .modal-label {
  margin-top: 8px;
}
.modal-label input {
  font-family: inherit;
  color: var(--primary-text-color);
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  width: 100%;
  height: 40px;
  padding: 0 16px 0 38px;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.position-icon:focus-within {
  fill: var(--accent-color);
}
.modal-label input:focus-within {
  border-color: var(--accent-color);
  outline: 0;
}
.form-icon {
  position: absolute;
  top: 50%;
  transform: translate(16px, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-comment {
  resize: none;
  font-family: inherit;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--primary-text-color);
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-comment:focus-within {
  outline: 0;
  border-color: var(--accent-color);
}
.text-comment::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--placeholder-color-text);
}

.checkbox-block {
  display: flex;

  align-items: center;
  margin: 16px 0 24px 0;
  cursor: pointer;
}

.checkbox-text {
  line-height: 1.33;
  letter-spacing: 0.04em;
  margin: 0 0 0 8px;
}

.checkbox {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--title-text-color);
  border-radius: 2px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:focus-within {
  outline: 0;
  border-color: var(--accent-color);
}

.checkbox:checked {
  background-image: url(../images/checkbox.svg);
  border: none;
  width: 16px;
  height: 16px;
}

.privacy-policy {
  color: var(--accent-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.privacy-policy:focus {
  outline: 0;
  border: 1px solid var(--accent-color);
  border-radius: 2px;
}

.form-button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: block;
  letter-spacing: 0.04em;
  margin: 0 auto;
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  border: 0;
  width: 169px;
  height: 56px;
  cursor: pointer;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-button:focus,
.form-button:hover {
  outline: 0;
  background-color: var(--active-accent-color);
}

/* Work */
.work {
  padding-bottom: 0;
}

.work-title {
  display: none;
  text-align: center;
}
.work-list {
  display: flex;
}
.work-li {
  flex-basis: calc(100% - 72px / 4);
}
.work-li + .work-li {
  margin-left: 24px;
}

.work-icon-div {
  display: flex;
  justify-content: center;
  height: 112px;
  align-items: center;
  border-radius: 4px;
  background-color: var(--background-button-color);
}
.work-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  margin-top: 8px;
}

.work-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-top: 8px;
}

/* Demonstration */
/* .demo {

} */

.demo-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.demo-list {
  display: flex;
}
.demo-li {
  border: 1px solid var(--footer-text-color);
}
.demo-li + .demo-li {
  margin-left: 24px;
}
/* Team */

.team {
  background-color: var(--background-button-color);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.team-list {
  display: flex;
}

.team-li + .team-li {
  margin-left: 24px;
}
.team-li {
  flex-basis: calc(100% - 72px / 4);

  box-shadow: var(--box-shadow);
  border-radius: 0px 0px 4px 4px;
}

.team-container {
  background-color: var(--primary-white-color);
  padding: 32px 16px;
  border-radius: 0px 0px 4px 4px;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.team-text {
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  margin-top: 8px;
}
.team-icon-list {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.team-icon-link {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon-link:hover,
.team-icon-link:focus {
  background-color: var(--active-accent-color);
}

/* Customers */
.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.customers-list {
  display: flex;
  list-style: none;
  margin-top: 72px;
}

.customers-li + .customers-li {
  margin-left: 24px;
}
.customers-li {
  flex-basis: calc(100% - 120px / 6);
}
.customers-link {
  display: flex;

  border: 1px solid var(--border-icon-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  height: 88px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover,
.customers-link:focus {
  border-color: var(--active-accent-color);
}
.customers-svg {
  display: block;
  fill: var(--border-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover .customers-svg,
.customers-link:focus .customers-svg {
  fill: var(--active-accent-color);
}

/* Footer */

.footer {
  background-color: var(--title-text-color);
  padding-top: 100px;
  padding-bottom: 100px;
  min-width: 1440px;
}
.foot-contain {
  display: flex;
}
.business {
  margin-right: 120px;
}

.logo-text {
  color: var(--accent-color);
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-button-color);
  margin-bottom: 16px;
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-text-color);
  margin-top: 16px;
  width: 264px;
}

.social-list {
  display: flex;
  list-style: none;

  gap: 16px;
}
.social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: var(--primary-white-color);
}
.social-link {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--footer-icon-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--footer-icon-active-color);
}

/* Subscribe */

.footer-form {
  margin-left: 80px;
}
.form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;

  color: var(--primary-white-color);
}
.form-block {
  display: flex;
}
/* .label-sub {
  display: inline-block;
} */
.form-sub input {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--primary-white-color);
  border: 1px solid var(--form-border-color);
  filter: drop-shadow var(--button-shadow);
  border-radius: 4px;
  padding: 0 16px 0 16px;

  height: 40px;
  width: 264px;
  background-color: transparent;
  outline: 0;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-sub input:focus-within {
  border-color: var(--accent-color);
}
.form-sub::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--placeholder-color-text);
}
.button-sub {
  display: flex;
  padding: 8px 24px;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  margin-left: 24px;
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-sub:focus,
.button-sub:hover {
  background-color: var(--active-accent-color);
}
.button-sub-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-white-color);
  margin-right: 16px;
  padding: 0;
  border: none;
}
.button-icon {
  display: inline-flex;
  align-items: center;
}

/* Style SCC for Portfolio page */

/* Main Portfolio*/

/* .main-portfolio {
 } */

.portfolio-section {
  padding-top: 96px;
}

.portfolio-title {
  text-align: center;
  display: none;
}

.filter {
  display: flex;
  justify-content: center;
}

.filter-li + .filter-li {
  margin-left: 24px;
}

.filter-button {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  background-color: var(--background-button-color);
  cursor: pointer;
  border: 1px solid var(--footer-text-color);
  border-radius: 4px;

  padding: 12px 24px;
  transition: color, background-color, box-shadow,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--primary-white-color);
  background-color: var(--active-accent-color);
  box-shadow: var(--filter-shadow);
  border-color: var(--active-accent-color);
}
.all {
  color: var(--primary-white-color);
  background-color: var(--active-accent-color);
}
/* Examples */

.examples {
  display: flex;
  flex-wrap: wrap;
  margin-right: -24px;
  margin-bottom: -48px;
}

.examples-list {
  margin-right: 24px;
  margin-bottom: 48px;
}

.examples-link {
  display: block;
  box-shadow: var(--portfolio-card-shadow);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.examples-link:hover,
.examples-link:focus {
  box-shadow: var(--box-shadow);
}
.examples-link:hover .overlay,
.examples-link:focus .overlay {
  transform: translateX(0);
}
.thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  padding: 40px 32px 164px 32px;
  background-blend-mode: soft-light;
  mix-blend-mode: normal;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay-text {
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--background-button-color);
}
.examples-text-container {
  padding: 32px 16px;
  border: 1px solid var(--footer-text-color);
}

.examples-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.examples-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  margin-top: 8px;
}
